<h1>Editing character</h1>
 
<%= form_for :generator, url: generator_path(@generator), method: :patch do |f| %>
 
  <% if @generator.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@generator.errors.count, "error") %> prohibited
        this generator from being saved:
      </h2>
      <ul>
        <% @generator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', generators_path %>