
<h1>Generator</h1>
<%= link_to 'New character', new_generator_path %>
<table>
 <tr>
  <th>Title</th>
  <th>Text</th>
 </tr>
 
 <% @generators.each do |generator| %>  <%-# |generator| refers to the generator table in the schema.db file-%>

 <tr>
  <td><%= generator.title %></td>
  <td><%= generator.text %></td>
  <td><%= link_to 'Show', generator_path(generator)%></td>
  <td><%= link_to 'Edit', edit_generator_path(generator) %></td>
 </tr>
 <% end %>
</table>