<h1>New generator</h1>
<%= form_for :generator, url: generators_path do |f| %>
 
  <% if @generator.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@generator.errors.count, "error") %> prohibited
        this generator from being saved:
      </h2>
      <ul>
        <% @generator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </p>
 
  <p>
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </p>
  
  <p>
    <%= f.label :class %><br>
    <%= f.text_field :class %>
  </p>
  
  <p>
    <%= f.label :discipline %><br>
    <%= f.text_field :discipline %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', generators_path %>