<p>
 <strong>Title:</strong>
 <%= @generator.title %>
</p>

<p>
 <strong>Name:</strong>
 <%= @generator.name %>
</p>

<p>
 <strong>Class:</strong>
 <%= @generator.class %>
</p>

<p>
 <strong>Stats:</strong>
 <%= @generator.stats %>
</p>

<p>
 <strong>Age:</strong>
 <%= @generator.age %>
</p>

<p>
 <strong>Bio:</strong>
 <%= @generator.bio %>
</p>